.emph {
  color: #ff5503;
  font-weight: 500;
}

/* pack func and objclass colors come from hcl(seq(90,360, length.out=4), c=80, l=80)*/
.pack {
  color: #AC9CFF; /*#e41a1c*/
  font-weight: 500;
}

.func {            /*#984ea3;can just use `` instead*/
  color: #00CBB6;
  font-weight: 500;
}

.objclass {
  color:  #AAB400;  /*#4daf4a; #FFC5D0*/
  font-weight: 500;
}

a {
  color: #1e90ff;  /*dodgerblue*/
}

pre {
  box-sizing: border-box;
  left: 0; /* This changes where the code chunk box actually starts */
  /* padding: 10px 0 10px 60px; /* Change the last value here to move the text left or right */
  position: relative;
  width: 100%; /* This changes where the code chunk box ends on the right side */
  font-size: 75%; /*changes output size; and comments*/
  /*border: 10px solid #ff5500;*/  /*code block and results border*/
  /*background-color:#ff5500;*/   /* results background*/

}

#TOC{
  font-size: 75%;
}

.table {
  margin: 0 auto;
}

.sectionSlide {
  color: #1e90ff;
  font-size: 200%;
  font-variant: small-caps;
  font-weight: 500;
}